* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

    /* Header Start */
header {
    
    padding: 20px 10px 20px 0px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
header h1 {
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
    background: rgb(52, 165, 240);
    padding: 5px 5px 5px 50px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    text-align: right;
    margin: 10px 0px;
    
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    list-style: none; 
}

header nav ul li {
    margin: 20px 40px;
}
header nav ul li a {
    text-decoration: none;
    padding: 20px 10px 5px 10px;
    color: rgb(52, 165, 240);
    text-shadow: 0 0 10px rgba(52, 165, 240, 0.8);
    font-size: 20px;
    border-bottom: solid rgb(52, 165, 240);
    margin: 0px 0px;
    
}
    /* Header end */

    /* Footer start */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 20px 0px;

}
.contact-me {
    color: rgb(52, 165, 240);
    font-size: 36px;
    flex: 1 15%;
    text-align: right;
    border-right: 10px solid rgb(52, 165, 240);
    padding: 20px 25px 20px 0px;
    text-shadow: 0 0 10px rgba(52, 165, 240, 0.4);
}

.contact-sections {
    flex: 2 60% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.contact-sections a {
    text-decoration: none;
    border-bottom: solid rgb(52, 165, 240);
    color: rgb(52, 165, 240);
    text-shadow: 0 0 10px rgba(52, 165, 240, 0.4);
    font-size: 20px;
    padding: 5px; 
    margin: 10px 35px;
}
    /* Footer End */

    /* Hero Start */
.hero {
    padding: 180px 15px 15px 100px;
    background-image: url(../img/marek-piwnicki-APwS-sruIIs-unsplash.jpg);
    background-size: cover; 
    background-attachment: fixed;     
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.hero h3 {
    font-size: 36px;
    font-style: oblique;
    padding: 2px 15px 2px 10px;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 50%);
    border-radius: 30px 10px 30px 10px;
    color: rgb(52, 165, 240); 
    
    
}
    /* Hero end */   

.section-title {
    font-size: 36px;
    flex: 1 15%;
    text-align: right ;
    padding: 10px 20px;
    border-right: 10px solid black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


    /* About me start */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;  
}

.about-info {
    flex: 2 60%;
    padding: 10px 45px 10px 10px;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;   
}

.about-info img {
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-info p {
    flex: 5;
    margin: 0px 40px 0px 20px;   
}
    /* About me end */


    /* Work Start */
.work {
    display: flex;
    flex-wrap: wrap;
    padding: 20p 0px;   
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-end;
    flex: 2 60%;
}

.project-title {
    font-size: 20px;
    color: rgb(52, 165, 240);
    padding: 20px;
    background-color: black; 
}

.project-title span {
    font-weight: lighter;
    font-size: 15px;
    border: 5px solid black;
}

.project-concertium {
    display: flex;
    padding: 225px 0px 25px 0px;
    margin: 10px;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url(../img/Concertium_Screenshot1.jpg);
    background-size: cover;
    background-position: left;
    flex: 1 80%;
    opacity: 80%;
    text-decoration: none;
}
.project-concertium:hover {
    opacity: 100%;
}

.project-1 {
    display: flex;
    padding: 225px 0px 25px 0px;
    margin: 10px;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url(../img/rafael-leao-PW0-vZD0wis-unsplash.jpg);
    background-size: cover;
    background-position: left;
    flex: 1 80%;
    opacity: 80%;
}
.project-1:hover {
    opacity: 100%;
}

.project-2 {
    display: flex;
    padding: 100px 0px 25px 0px;
    margin: 10px;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url(../img/justin-lane-lwwM_dotpcs-unsplash.jpg);
    background-size: cover;
    flex: 1 40%;
    opacity: 80%;
}
.project-2:hover {
    opacity: 100%;
}

.project-3 {
    display: flex;
    padding: 100px 0px 25px 0px;
    margin: 10px;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url(../img/osman-koycu-DdxfliQ5ap8-unsplash.jpg);
    background-size: cover;
    background-position: 70%;
    flex: 1 40%;
    opacity: 80%;
}
.project-3:hover {
    opacity: 100%;
}
.project-4 {
    display: flex;
    padding: 100px 0px 25px 0px;
    margin: 10px;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url(../img/pawel-czerwinski-8uZPynIu-rQ-unsplash.jpg);
    background-size: cover;
    flex: 1 40%;
    opacity: 75%;
}
.project-4:hover {
    opacity: 100%;
}

.project-5 {
    display: flex;
    padding: 100px 0px 25px 0px;
    margin: 10px;
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url(../img/hero-bg.jpg);
    background-size: cover; 
    background-position: bottom right; 
    flex: 1 40%;
    opacity: 75%;
    text-decoration: none;
}
.project-5:hover {
    opacity: 100%;
}
    /* Work end */


    /* Optimization for screen size*/
    @media screen and (max-width: 980px) {
      
        .contact-sections {
            flex-direction: column;
        }
        .contact-me {
            padding: 40px 25px 40px 0px;
        }  
        .about-info p {
            font-size: 20px;
        } 

    }

    @media screen and (max-width: 768px) {

        .contact-me{
            font-size: 30px;
        }
        .contact-sections a {
            font-size: 20px;
        }
        header nav ul {
            justify-content: flex-start;
        } 
        .section-title{
            font-size: 30px;
        }
        .about-info {
            flex-direction: column;
        }
        
        .about-info p{
            
            margin: 10px 40px 0px 0px
        }
        .project-2 + .project-3  {
            flex: 1 80%;
        }  
        .project-4 +.project-5 {
            flex: 1 80%;
        } 
       
    }
    @media screen and (max-width: 575px) {
        
        header {
            padding: 0px 10px 20px 10px;
            background-color: black;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
        header h1 {
            font-size: 46px;
            padding: 20px 10px 10px 10px; 
            border-bottom-left-radius: 10px;
            border-bottom-right-radius:10px;
            border-top-right-radius: 0px;
            margin: 0px 0px;
        }
        header nav ul {
            justify-content:space-evenly;  
        }

        .about-me {
            justify-content: center;
            flex-direction: column;  
        }
        .about-me .section-title {
            font-size: 36px; 
            text-align: center ;
            padding: 10px 0px;
            border-bottom: 6px solid black;
            border-right:0; 
            margin: 0px 100px 0px 100px;
        }
        .about-info{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin-top: 40px;
        }
        .about-info img {
            width: 90%;
        }
        .about-info p { 
            padding: 10px;
            font-size: 22px;
            text-align: center;
            width: 90%;
            margin: 20px 0px 0px 0px;
        }

        .work {
            flex-direction: column;
            justify-content: center;   
        }
        .work .section-title {
            font-size: 36px;
            text-align: center;
            padding: 50px 0px 10px 0px;
            border-bottom: 6px solid black;
            border-top: 1px solid black;
            border-right: 0;
            margin: 0px 100px 40px 100px;
        }
        .project-concertium {
            margin: 0px;
            border-top: 10px solid black;
            border-bottom: 5px solid black;
            border-left: 0;
            border-right: 0;
        }

        .project-1 {
            margin: 0px;
            border-top: 10px solid black;
            border-bottom: 5px solid black;
            border-left: 0;
            border-right: 0;
        }
        .project-2 {
            margin: 0px;
            border-top: 5px solid black;
            border-bottom: 5px solid black;
            border-left: 0;
            border-right: 0;
        }
        .project-3 {
            margin: 0px; 
            border-top: 5px solid black;
            border-bottom: 5px solid black;
            border-left: 0;
            border-right: 0;
        }
        .project-4 {
            margin: 0px; 
            border-top: 5px solid black;
            border-bottom: 5px solid black;
            border-left: 0;
            border-right: 0;
        }
        .project-5 {
            margin: 0px;
            border-top: 5px solid black;
            border-bottom: 0px solid black;
            border-left: 0;
            border-right: 0;
        }
        
        footer {
            flex-direction: column;
        }
        .contact-me {
            font-size: 36px;
            text-align: center;
            border-bottom: 5px solid rgb(52, 165, 240);
            border-right: 0;
            padding: 10px 80px 10px 80px;
            margin-bottom: 10px;
        }
    }


